<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCommandeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCommandeLabel_id}" for="id" />
                    <h:inputText id="id" value="#{commandeController.selected.id}" title="#{bundle.EditCommandeTitle_id}" required="true" requiredMessage="#{bundle.EditCommandeRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditCommandeLabel_dateCommande}" for="dateCommande" />
                    <h:inputText id="dateCommande" value="#{commandeController.selected.dateCommande}" title="#{bundle.EditCommandeTitle_dateCommande}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCommandeLabel_montant}" for="montant" />
                    <h:inputText id="montant" value="#{commandeController.selected.montant}" title="#{bundle.EditCommandeTitle_montant}" />
                    <h:outputLabel value="#{bundle.EditCommandeLabel_numeroCommande}" for="numeroCommande" />
                    <h:inputText id="numeroCommande" value="#{commandeController.selected.numeroCommande}" title="#{bundle.EditCommandeTitle_numeroCommande}" />
                    <h:outputLabel value="#{bundle.EditCommandeLabel_statut}" for="statut" />
                    <h:inputText id="statut" value="#{commandeController.selected.statut}" title="#{bundle.EditCommandeTitle_statut}" />
                    <h:outputLabel value="#{bundle.EditCommandeLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{commandeController.selected.suppressionLogique}" title="#{bundle.EditCommandeTitle_suppressionLogique}" />
                    <h:outputLabel value="#{bundle.EditCommandeLabel_modepaiementId}" for="modepaiementId" />
                    <h:selectOneMenu id="modepaiementId" value="#{commandeController.selected.modepaiementId}" title="#{bundle.EditCommandeTitle_modepaiementId}" >
                        <f:selectItems value="#{modepaimentController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditCommandeLabel_modelivraisonId}" for="modelivraisonId" />
                    <h:selectOneMenu id="modelivraisonId" value="#{commandeController.selected.modelivraisonId}" title="#{bundle.EditCommandeTitle_modelivraisonId}" >
                        <f:selectItems value="#{modelivraisonController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditCommandeLabel_clientId}" for="clientId" />
                    <h:selectOneMenu id="clientId" value="#{commandeController.selected.clientId}" title="#{bundle.EditCommandeTitle_clientId}" >
                        <f:selectItems value="#{clientController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditCommandeLabel_adresselivraisonId}" for="adresselivraisonId" />
                    <h:selectOneMenu id="adresselivraisonId" value="#{commandeController.selected.adresselivraisonId}" title="#{bundle.EditCommandeTitle_adresselivraisonId}" >
                        <f:selectItems value="#{adresseController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{commandeController.update}" value="#{bundle.EditCommandeSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCommandeViewLink}"/>
                <br />
                <h:commandLink action="#{commandeController.prepareList}" value="#{bundle.EditCommandeShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCommandeIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
