<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCommandeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCommandeEmpty}" rendered="#{commandeController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{commandeController.items.rowCount > 0}">
                    <h:outputText value="#{commandeController.pagination.pageFirstItem + 1}..#{commandeController.pagination.pageLastItem + 1}/#{commandeController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{commandeController.previous}" value="#{bundle.Previous} #{commandeController.pagination.pageSize}" rendered="#{commandeController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{commandeController.next}" value="#{bundle.Next} #{commandeController.pagination.pageSize}" rendered="#{commandeController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{commandeController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommandeTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommandeTitle_dateCommande}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateCommande}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommandeTitle_montant}"/>
                            </f:facet>
                            <h:outputText value="#{item.montant}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommandeTitle_numeroCommande}"/>
                            </f:facet>
                            <h:outputText value="#{item.numeroCommande}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommandeTitle_statut}"/>
                            </f:facet>
                            <h:outputText value="#{item.statut}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommandeTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommandeTitle_modepaiementId}"/>
                            </f:facet>
                            <h:outputText value="#{item.modepaiementId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommandeTitle_modelivraisonId}"/>
                            </f:facet>
                            <h:outputText value="#{item.modelivraisonId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommandeTitle_clientId}"/>
                            </f:facet>
                            <h:outputText value="#{item.clientId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCommandeTitle_adresselivraisonId}"/>
                            </f:facet>
                            <h:outputText value="#{item.adresselivraisonId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{commandeController.prepareView}" value="#{bundle.ListCommandeViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{commandeController.prepareEdit}" value="#{bundle.ListCommandeEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{commandeController.destroy}" value="#{bundle.ListCommandeDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{commandeController.prepareCreate}" value="#{bundle.ListCommandeCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCommandeIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
