<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCommandeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCommandeLabel_id}"/>
                    <h:outputText value="#{commandeController.selected.id}" title="#{bundle.ViewCommandeTitle_id}"/>
                    <h:outputText value="#{bundle.ViewCommandeLabel_dateCommande}"/>
                    <h:outputText value="#{commandeController.selected.dateCommande}" title="#{bundle.ViewCommandeTitle_dateCommande}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCommandeLabel_montant}"/>
                    <h:outputText value="#{commandeController.selected.montant}" title="#{bundle.ViewCommandeTitle_montant}"/>
                    <h:outputText value="#{bundle.ViewCommandeLabel_numeroCommande}"/>
                    <h:outputText value="#{commandeController.selected.numeroCommande}" title="#{bundle.ViewCommandeTitle_numeroCommande}"/>
                    <h:outputText value="#{bundle.ViewCommandeLabel_statut}"/>
                    <h:outputText value="#{commandeController.selected.statut}" title="#{bundle.ViewCommandeTitle_statut}"/>
                    <h:outputText value="#{bundle.ViewCommandeLabel_suppressionLogique}"/>
                    <h:outputText value="#{commandeController.selected.suppressionLogique}" title="#{bundle.ViewCommandeTitle_suppressionLogique}"/>
                    <h:outputText value="#{bundle.ViewCommandeLabel_modepaiementId}"/>
                    <h:outputText value="#{commandeController.selected.modepaiementId}" title="#{bundle.ViewCommandeTitle_modepaiementId}"/>
                    <h:outputText value="#{bundle.ViewCommandeLabel_modelivraisonId}"/>
                    <h:outputText value="#{commandeController.selected.modelivraisonId}" title="#{bundle.ViewCommandeTitle_modelivraisonId}"/>
                    <h:outputText value="#{bundle.ViewCommandeLabel_clientId}"/>
                    <h:outputText value="#{commandeController.selected.clientId}" title="#{bundle.ViewCommandeTitle_clientId}"/>
                    <h:outputText value="#{bundle.ViewCommandeLabel_adresselivraisonId}"/>
                    <h:outputText value="#{commandeController.selected.adresselivraisonId}" title="#{bundle.ViewCommandeTitle_adresselivraisonId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{commandeController.destroyAndView}" value="#{bundle.ViewCommandeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCommandeEditLink}"/>
                <br />
                <h:commandLink action="#{commandeController.prepareCreate}" value="#{bundle.ViewCommandeCreateLink}" />
                <br />
                <h:commandLink action="#{commandeController.prepareList}" value="#{bundle.ViewCommandeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCommandeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
