<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateSeanceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateSeanceLabel_id}" for="id" />
                    <h:inputText id="id" value="#{seanceController.selected.id}" title="#{bundle.CreateSeanceTitle_id}" required="false" requiredMessage="#{bundle.CreateSeanceRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateSeanceLabel_date}" for="date" />
                    <h:inputText id="date" value="#{seanceController.selected.date}" title="#{bundle.CreateSeanceTitle_date}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateSeanceLabel_duree}" for="duree" />
                    <h:inputText id="duree" value="#{seanceController.selected.duree}" title="#{bundle.CreateSeanceTitle_duree}" />
                    <h:outputLabel value="#{bundle.CreateSeanceLabel_heure}" for="heure" />
                    <h:inputText id="heure" value="#{seanceController.selected.heure}" title="#{bundle.CreateSeanceTitle_heure}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateSeanceLabel_libelle}" for="libelle" />
                    <h:inputText id="libelle" value="#{seanceController.selected.libelle}" title="#{bundle.CreateSeanceTitle_libelle}" />
                    <h:outputLabel value="#{bundle.CreateSeanceLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{seanceController.selected.suppressionLogique}" title="#{bundle.CreateSeanceTitle_suppressionLogique}" />
                    <h:outputLabel value="#{bundle.CreateSeanceLabel_lieuId}" for="lieuId" />
                    <h:selectOneMenu id="lieuId" value="#{seanceController.selected.lieuId}" title="#{bundle.CreateSeanceTitle_lieuId}" >
                        <f:selectItems value="#{lieuController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateSeanceLabel_evenementId}" for="evenementId" />
                    <h:selectOneMenu id="evenementId" value="#{seanceController.selected.evenementId}" title="#{bundle.CreateSeanceTitle_evenementId}" >
                        <f:selectItems value="#{evenementController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{seanceController.create}" value="#{bundle.CreateSeanceSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{seanceController.prepareList}" value="#{bundle.CreateSeanceShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateSeanceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
