<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListSeanceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListSeanceEmpty}" rendered="#{seanceController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{seanceController.items.rowCount > 0}">
                    <h:outputText value="#{seanceController.pagination.pageFirstItem + 1}..#{seanceController.pagination.pageLastItem + 1}/#{seanceController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{seanceController.previous}" value="#{bundle.Previous} #{seanceController.pagination.pageSize}" rendered="#{seanceController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{seanceController.next}" value="#{bundle.Next} #{seanceController.pagination.pageSize}" rendered="#{seanceController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{seanceController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSeanceTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSeanceTitle_date}"/>
                            </f:facet>
                            <h:outputText value="#{item.date}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSeanceTitle_duree}"/>
                            </f:facet>
                            <h:outputText value="#{item.duree}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSeanceTitle_heure}"/>
                            </f:facet>
                            <h:outputText value="#{item.heure}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSeanceTitle_libelle}"/>
                            </f:facet>
                            <h:outputText value="#{item.libelle}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSeanceTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSeanceTitle_lieuId}"/>
                            </f:facet>
                            <h:outputText value="#{item.lieuId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListSeanceTitle_evenementId}"/>
                            </f:facet>
                            <h:outputText value="#{item.evenementId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{seanceController.prepareView}" value="#{bundle.ListSeanceViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{seanceController.prepareEdit}" value="#{bundle.ListSeanceEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{seanceController.destroy}" value="#{bundle.ListSeanceDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{seanceController.prepareCreate}" value="#{bundle.ListSeanceCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListSeanceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
