<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewSeanceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewSeanceLabel_id}"/>
                    <h:outputText value="#{seanceController.selected.id}" title="#{bundle.ViewSeanceTitle_id}"/>
                    <h:outputText value="#{bundle.ViewSeanceLabel_date}"/>
                    <h:outputText value="#{seanceController.selected.date}" title="#{bundle.ViewSeanceTitle_date}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewSeanceLabel_duree}"/>
                    <h:outputText value="#{seanceController.selected.duree}" title="#{bundle.ViewSeanceTitle_duree}"/>
                    <h:outputText value="#{bundle.ViewSeanceLabel_heure}"/>
                    <h:outputText value="#{seanceController.selected.heure}" title="#{bundle.ViewSeanceTitle_heure}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewSeanceLabel_libelle}"/>
                    <h:outputText value="#{seanceController.selected.libelle}" title="#{bundle.ViewSeanceTitle_libelle}"/>
                    <h:outputText value="#{bundle.ViewSeanceLabel_suppressionLogique}"/>
                    <h:outputText value="#{seanceController.selected.suppressionLogique}" title="#{bundle.ViewSeanceTitle_suppressionLogique}"/>
                    <h:outputText value="#{bundle.ViewSeanceLabel_lieuId}"/>
                    <h:outputText value="#{seanceController.selected.lieuId}" title="#{bundle.ViewSeanceTitle_lieuId}"/>
                    <h:outputText value="#{bundle.ViewSeanceLabel_evenementId}"/>
                    <h:outputText value="#{seanceController.selected.evenementId}" title="#{bundle.ViewSeanceTitle_evenementId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{seanceController.destroyAndView}" value="#{bundle.ViewSeanceDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewSeanceEditLink}"/>
                <br />
                <h:commandLink action="#{seanceController.prepareCreate}" value="#{bundle.ViewSeanceCreateLink}" />
                <br />
                <h:commandLink action="#{seanceController.prepareList}" value="#{bundle.ViewSeanceShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewSeanceIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
