<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateParticipantTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateParticipantLabel_id}" for="id" />
                    <h:inputText id="id" value="#{participantController.selected.id}" title="#{bundle.CreateParticipantTitle_id}" required="false" requiredMessage="#{bundle.CreateParticipantRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateParticipantLabel_nom}" for="nom" />
                    <h:inputText id="nom" value="#{participantController.selected.nom}" title="#{bundle.CreateParticipantTitle_nom}" />
                    <h:outputLabel value="#{bundle.CreateParticipantLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{participantController.selected.suppressionLogique}" title="#{bundle.CreateParticipantTitle_suppressionLogique}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{participantController.create}" value="#{bundle.CreateParticipantSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{participantController.prepareList}" value="#{bundle.CreateParticipantShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateParticipantIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
