<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListParticipantTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListParticipantEmpty}" rendered="#{participantController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{participantController.items.rowCount > 0}">
                    <h:outputText value="#{participantController.pagination.pageFirstItem + 1}..#{participantController.pagination.pageLastItem + 1}/#{participantController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{participantController.previous}" value="#{bundle.Previous} #{participantController.pagination.pageSize}" rendered="#{participantController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{participantController.next}" value="#{bundle.Next} #{participantController.pagination.pageSize}" rendered="#{participantController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{participantController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParticipantTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParticipantTitle_nom}"/>
                            </f:facet>
                            <h:outputText value="#{item.nom}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListParticipantTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{participantController.prepareView}" value="#{bundle.ListParticipantViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{participantController.prepareEdit}" value="#{bundle.ListParticipantEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{participantController.destroy}" value="#{bundle.ListParticipantDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{participantController.prepareCreate}" value="#{bundle.ListParticipantCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListParticipantIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
