<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewParticipantTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewParticipantLabel_id}"/>
                    <h:outputText value="#{participantController.selected.id}" title="#{bundle.ViewParticipantTitle_id}"/>
                    <h:outputText value="#{bundle.ViewParticipantLabel_nom}"/>
                    <h:outputText value="#{participantController.selected.nom}" title="#{bundle.ViewParticipantTitle_nom}"/>
                    <h:outputText value="#{bundle.ViewParticipantLabel_suppressionLogique}"/>
                    <h:outputText value="#{participantController.selected.suppressionLogique}" title="#{bundle.ViewParticipantTitle_suppressionLogique}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{participantController.destroyAndView}" value="#{bundle.ViewParticipantDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewParticipantEditLink}"/>
                <br />
                <h:commandLink action="#{participantController.prepareCreate}" value="#{bundle.ViewParticipantCreateLink}" />
                <br />
                <h:commandLink action="#{participantController.prepareList}" value="#{bundle.ViewParticipantShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewParticipantIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
