<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListModepaimentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListModepaimentEmpty}" rendered="#{modepaimentController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{modepaimentController.items.rowCount > 0}">
                    <h:outputText value="#{modepaimentController.pagination.pageFirstItem + 1}..#{modepaimentController.pagination.pageLastItem + 1}/#{modepaimentController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{modepaimentController.previous}" value="#{bundle.Previous} #{modepaimentController.pagination.pageSize}" rendered="#{modepaimentController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{modepaimentController.next}" value="#{bundle.Next} #{modepaimentController.pagination.pageSize}" rendered="#{modepaimentController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{modepaimentController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModepaimentTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModepaimentTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModepaimentTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{modepaimentController.prepareView}" value="#{bundle.ListModepaimentViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{modepaimentController.prepareEdit}" value="#{bundle.ListModepaimentEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{modepaimentController.destroy}" value="#{bundle.ListModepaimentDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{modepaimentController.prepareCreate}" value="#{bundle.ListModepaimentCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListModepaimentIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
