<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewModepaimentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewModepaimentLabel_id}"/>
                    <h:outputText value="#{modepaimentController.selected.id}" title="#{bundle.ViewModepaimentTitle_id}"/>
                    <h:outputText value="#{bundle.ViewModepaimentLabel_suppressionLogique}"/>
                    <h:outputText value="#{modepaimentController.selected.suppressionLogique}" title="#{bundle.ViewModepaimentTitle_suppressionLogique}"/>
                    <h:outputText value="#{bundle.ViewModepaimentLabel_type}"/>
                    <h:outputText value="#{modepaimentController.selected.type}" title="#{bundle.ViewModepaimentTitle_type}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{modepaimentController.destroyAndView}" value="#{bundle.ViewModepaimentDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewModepaimentEditLink}"/>
                <br />
                <h:commandLink action="#{modepaimentController.prepareCreate}" value="#{bundle.ViewModepaimentCreateLink}" />
                <br />
                <h:commandLink action="#{modepaimentController.prepareList}" value="#{bundle.ViewModepaimentShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewModepaimentIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
