<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewThemeTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewThemeLabel_id}"/>
                    <h:outputText value="#{themeController.selected.id}" title="#{bundle.ViewThemeTitle_id}"/>
                    <h:outputText value="#{bundle.ViewThemeLabel_libelle}"/>
                    <h:outputText value="#{themeController.selected.libelle}" title="#{bundle.ViewThemeTitle_libelle}"/>
                    <h:outputText value="#{bundle.ViewThemeLabel_suppressionLogique}"/>
                    <h:outputText value="#{themeController.selected.suppressionLogique}" title="#{bundle.ViewThemeTitle_suppressionLogique}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{themeController.destroyAndView}" value="#{bundle.ViewThemeDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewThemeEditLink}"/>
                <br />
                <h:commandLink action="#{themeController.prepareCreate}" value="#{bundle.ViewThemeCreateLink}" />
                <br />
                <h:commandLink action="#{themeController.prepareList}" value="#{bundle.ViewThemeShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewThemeIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
