<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateReductionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateReductionLabel_id}" for="id" />
                    <h:inputText id="id" value="#{reductionController.selected.id}" title="#{bundle.CreateReductionTitle_id}" required="false" requiredMessage="#{bundle.CreateReductionRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateReductionLabel_libelle}" for="libelle" />
                    <h:inputText id="libelle" value="#{reductionController.selected.libelle}" title="#{bundle.CreateReductionTitle_libelle}" />
                    <h:outputLabel value="#{bundle.CreateReductionLabel_montant}" for="montant" />
                    <h:inputText id="montant" value="#{reductionController.selected.montant}" title="#{bundle.CreateReductionTitle_montant}" />
                    <h:outputLabel value="#{bundle.CreateReductionLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{reductionController.selected.suppressionLogique}" title="#{bundle.CreateReductionTitle_suppressionLogique}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{reductionController.create}" value="#{bundle.CreateReductionSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{reductionController.prepareList}" value="#{bundle.CreateReductionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateReductionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
