<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListReductionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListReductionEmpty}" rendered="#{reductionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{reductionController.items.rowCount > 0}">
                    <h:outputText value="#{reductionController.pagination.pageFirstItem + 1}..#{reductionController.pagination.pageLastItem + 1}/#{reductionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{reductionController.previous}" value="#{bundle.Previous} #{reductionController.pagination.pageSize}" rendered="#{reductionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{reductionController.next}" value="#{bundle.Next} #{reductionController.pagination.pageSize}" rendered="#{reductionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{reductionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReductionTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReductionTitle_libelle}"/>
                            </f:facet>
                            <h:outputText value="#{item.libelle}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReductionTitle_montant}"/>
                            </f:facet>
                            <h:outputText value="#{item.montant}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListReductionTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{reductionController.prepareView}" value="#{bundle.ListReductionViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{reductionController.prepareEdit}" value="#{bundle.ListReductionEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{reductionController.destroy}" value="#{bundle.ListReductionDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{reductionController.prepareCreate}" value="#{bundle.ListReductionCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListReductionIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
