<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewReductionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewReductionLabel_id}"/>
                    <h:outputText value="#{reductionController.selected.id}" title="#{bundle.ViewReductionTitle_id}"/>
                    <h:outputText value="#{bundle.ViewReductionLabel_libelle}"/>
                    <h:outputText value="#{reductionController.selected.libelle}" title="#{bundle.ViewReductionTitle_libelle}"/>
                    <h:outputText value="#{bundle.ViewReductionLabel_montant}"/>
                    <h:outputText value="#{reductionController.selected.montant}" title="#{bundle.ViewReductionTitle_montant}"/>
                    <h:outputText value="#{bundle.ViewReductionLabel_suppressionLogique}"/>
                    <h:outputText value="#{reductionController.selected.suppressionLogique}" title="#{bundle.ViewReductionTitle_suppressionLogique}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{reductionController.destroyAndView}" value="#{bundle.ViewReductionDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewReductionEditLink}"/>
                <br />
                <h:commandLink action="#{reductionController.prepareCreate}" value="#{bundle.ViewReductionCreateLink}" />
                <br />
                <h:commandLink action="#{reductionController.prepareList}" value="#{bundle.ViewReductionShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewReductionIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
