<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLieuTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateLieuLabel_id}" for="id" />
                    <h:inputText id="id" value="#{lieuController.selected.id}" title="#{bundle.CreateLieuTitle_id}" required="false" requiredMessage="#{bundle.CreateLieuRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateLieuLabel_nom}" for="nom" />
                    <h:inputText id="nom" value="#{lieuController.selected.nom}" title="#{bundle.CreateLieuTitle_nom}" />
                    <h:outputLabel value="#{bundle.CreateLieuLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{lieuController.selected.suppressionLogique}" title="#{bundle.CreateLieuTitle_suppressionLogique}" />
                    <h:outputLabel value="#{bundle.CreateLieuLabel_urlPlan}" for="urlPlan" />
                    <h:inputText id="urlPlan" value="#{lieuController.selected.urlPlan}" title="#{bundle.CreateLieuTitle_urlPlan}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lieuController.create}" value="#{bundle.CreateLieuSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{lieuController.prepareList}" value="#{bundle.CreateLieuShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateLieuIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
