<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLieuTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLieuEmpty}" rendered="#{lieuController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{lieuController.items.rowCount > 0}">
                    <h:outputText value="#{lieuController.pagination.pageFirstItem + 1}..#{lieuController.pagination.pageLastItem + 1}/#{lieuController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{lieuController.previous}" value="#{bundle.Previous} #{lieuController.pagination.pageSize}" rendered="#{lieuController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{lieuController.next}" value="#{bundle.Next} #{lieuController.pagination.pageSize}" rendered="#{lieuController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{lieuController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLieuTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLieuTitle_nom}"/>
                            </f:facet>
                            <h:outputText value="#{item.nom}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLieuTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLieuTitle_urlPlan}"/>
                            </f:facet>
                            <h:outputText value="#{item.urlPlan}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{lieuController.prepareView}" value="#{bundle.ListLieuViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lieuController.prepareEdit}" value="#{bundle.ListLieuEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lieuController.destroy}" value="#{bundle.ListLieuDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{lieuController.prepareCreate}" value="#{bundle.ListLieuCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListLieuIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
