<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLieuTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLieuLabel_id}"/>
                    <h:outputText value="#{lieuController.selected.id}" title="#{bundle.ViewLieuTitle_id}"/>
                    <h:outputText value="#{bundle.ViewLieuLabel_nom}"/>
                    <h:outputText value="#{lieuController.selected.nom}" title="#{bundle.ViewLieuTitle_nom}"/>
                    <h:outputText value="#{bundle.ViewLieuLabel_suppressionLogique}"/>
                    <h:outputText value="#{lieuController.selected.suppressionLogique}" title="#{bundle.ViewLieuTitle_suppressionLogique}"/>
                    <h:outputText value="#{bundle.ViewLieuLabel_urlPlan}"/>
                    <h:outputText value="#{lieuController.selected.urlPlan}" title="#{bundle.ViewLieuTitle_urlPlan}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lieuController.destroyAndView}" value="#{bundle.ViewLieuDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewLieuEditLink}"/>
                <br />
                <h:commandLink action="#{lieuController.prepareCreate}" value="#{bundle.ViewLieuCreateLink}" />
                <br />
                <h:commandLink action="#{lieuController.prepareList}" value="#{bundle.ViewLieuShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewLieuIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
