<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCategorieTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCategorieLabel_id}" for="id" />
                    <h:inputText id="id" value="#{categorieController.selected.id}" title="#{bundle.CreateCategorieTitle_id}" required="false" requiredMessage="#{bundle.CreateCategorieRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateCategorieLabel_libelle}" for="libelle" />
                    <h:inputText id="libelle" value="#{categorieController.selected.libelle}" title="#{bundle.CreateCategorieTitle_libelle}" />
                    <h:outputLabel value="#{bundle.CreateCategorieLabel_prix}" for="prix" />
                    <h:inputText id="prix" value="#{categorieController.selected.prix}" title="#{bundle.CreateCategorieTitle_prix}" />
                    <!--
                    <h:outputLabel value="#{bundle.CreateCategorieLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{categorieController.selected.suppressionLogique}" title="#{bundle.CreateCategorieTitle_suppressionLogique}" />
                    -->
                    </h:panelGrid>
                <br />
                <h:commandLink action="#{categorieController.create}" value="#{bundle.CreateCategorieSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{categorieController.prepareList}" value="#{bundle.CreateCategorieShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCategorieIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
