<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCategorieTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCategorieLabel_id}" for="id" />
                    <h:inputText id="id" value="#{categorieController.selected.id}" title="#{bundle.EditCategorieTitle_id}" required="true" requiredMessage="#{bundle.EditCategorieRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditCategorieLabel_libelle}" for="libelle" />
                    <h:inputText id="libelle" value="#{categorieController.selected.libelle}" title="#{bundle.EditCategorieTitle_libelle}" />
                    <h:outputLabel value="#{bundle.EditCategorieLabel_prix}" for="prix" />
                    <h:inputText id="prix" value="#{categorieController.selected.prix}" title="#{bundle.EditCategorieTitle_prix}" />
                    <h:outputLabel value="#{bundle.EditCategorieLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{categorieController.selected.suppressionLogique}" title="#{bundle.EditCategorieTitle_suppressionLogique}" />
                </h:panelGrid>
                <h:commandLink action="#{categorieController.update}" value="#{bundle.EditCategorieSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCategorieViewLink}"/>
                <br />
                <h:commandLink action="#{categorieController.prepareList}" value="#{bundle.EditCategorieShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCategorieIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
