<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCategorieTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCategorieEmpty}" rendered="#{categorieController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{categorieController.items.rowCount > 0}">
                    <h:outputText value="#{categorieController.pagination.pageFirstItem + 1}..#{categorieController.pagination.pageLastItem + 1}/#{categorieController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{categorieController.previous}" value="#{bundle.Previous} #{categorieController.pagination.pageSize}" rendered="#{categorieController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{categorieController.next}" value="#{bundle.Next} #{categorieController.pagination.pageSize}" rendered="#{categorieController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{categorieController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCategorieTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCategorieTitle_libelle}"/>
                            </f:facet>
                            <h:outputText value="#{item.libelle}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCategorieTitle_prix}"/>
                            </f:facet>
                            <h:outputText value="#{item.prix}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCategorieTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{categorieController.prepareView}" value="#{bundle.ListCategorieViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{categorieController.prepareEdit}" value="#{bundle.ListCategorieEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{categorieController.destroy}" value="#{bundle.ListCategorieDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{categorieController.prepareCreate}" value="#{bundle.ListCategorieCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCategorieIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
