<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCategorieTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCategorieLabel_id}"/>
                    <h:outputText value="#{categorieController.selected.id}" title="#{bundle.ViewCategorieTitle_id}"/>
                    <h:outputText value="#{bundle.ViewCategorieLabel_libelle}"/>
                    <h:outputText value="#{categorieController.selected.libelle}" title="#{bundle.ViewCategorieTitle_libelle}"/>
                    <h:outputText value="#{bundle.ViewCategorieLabel_prix}"/>
                    <h:outputText value="#{categorieController.selected.prix}" title="#{bundle.ViewCategorieTitle_prix}"/>
                    <h:outputText value="#{bundle.ViewCategorieLabel_suppressionLogique}"/>
                    <h:outputText value="#{categorieController.selected.suppressionLogique}" title="#{bundle.ViewCategorieTitle_suppressionLogique}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{categorieController.destroyAndView}" value="#{bundle.ViewCategorieDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCategorieEditLink}"/>
                <br />
                <h:commandLink action="#{categorieController.prepareCreate}" value="#{bundle.ViewCategorieCreateLink}" />
                <br />
                <h:commandLink action="#{categorieController.prepareList}" value="#{bundle.ViewCategorieShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCategorieIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
