<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditClientTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditClientLabel_id}" for="id" />
                    <h:inputText id="id" value="#{clientController.selected.id}" title="#{bundle.EditClientTitle_id}" required="true" requiredMessage="#{bundle.EditClientRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditClientLabel_civilite}" for="civilite" />
                    <h:inputText id="civilite" value="#{clientController.selected.civilite}" title="#{bundle.EditClientTitle_civilite}" />
                    <h:outputLabel value="#{bundle.EditClientLabel_login}" for="login" />
                    <h:inputText id="login" value="#{clientController.selected.login}" title="#{bundle.EditClientTitle_login}" />
                    <h:outputLabel value="#{bundle.EditClientLabel_mail}" for="mail" />
                    <h:inputText id="mail" value="#{clientController.selected.mail}" title="#{bundle.EditClientTitle_mail}" />
                    <h:outputLabel value="#{bundle.EditClientLabel_motDePasse}" for="motDePasse" />
                    <h:inputText id="motDePasse" value="#{clientController.selected.motDePasse}" title="#{bundle.EditClientTitle_motDePasse}" />
                    <h:outputLabel value="#{bundle.EditClientLabel_naissance}" for="naissance" />
                    <h:inputText id="naissance" value="#{clientController.selected.naissance}" title="#{bundle.EditClientTitle_naissance}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditClientLabel_nom}" for="nom" />
                    <h:inputText id="nom" value="#{clientController.selected.nom}" title="#{bundle.EditClientTitle_nom}" />
                    <h:outputLabel value="#{bundle.EditClientLabel_prenom}" for="prenom" />
                    <h:inputText id="prenom" value="#{clientController.selected.prenom}" title="#{bundle.EditClientTitle_prenom}" />
                    <h:outputLabel value="#{bundle.EditClientLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{clientController.selected.suppressionLogique}" title="#{bundle.EditClientTitle_suppressionLogique}" />
                </h:panelGrid>
                <h:commandLink action="#{clientController.update}" value="#{bundle.EditClientSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditClientViewLink}"/>
                <br />
                <h:commandLink action="#{clientController.prepareList}" value="#{bundle.EditClientShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditClientIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
