<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListClientTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListClientEmpty}" rendered="#{clientController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{clientController.items.rowCount > 0}">
                    <h:outputText value="#{clientController.pagination.pageFirstItem + 1}..#{clientController.pagination.pageLastItem + 1}/#{clientController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{clientController.previous}" value="#{bundle.Previous} #{clientController.pagination.pageSize}" rendered="#{clientController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{clientController.next}" value="#{bundle.Next} #{clientController.pagination.pageSize}" rendered="#{clientController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{clientController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_civilite}"/>
                            </f:facet>
                            <h:outputText value="#{item.civilite}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_login}"/>
                            </f:facet>
                            <h:outputText value="#{item.login}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_mail}"/>
                            </f:facet>
                            <h:outputText value="#{item.mail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_motDePasse}"/>
                            </f:facet>
                            <h:outputText value="#{item.motDePasse}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_naissance}"/>
                            </f:facet>
                            <h:outputText value="#{item.naissance}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_nom}"/>
                            </f:facet>
                            <h:outputText value="#{item.nom}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_prenom}"/>
                            </f:facet>
                            <h:outputText value="#{item.prenom}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListClientTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{clientController.prepareView}" value="#{bundle.ListClientViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{clientController.prepareEdit}" value="#{bundle.ListClientEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{clientController.destroy}" value="#{bundle.ListClientDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{clientController.prepareCreate}" value="#{bundle.ListClientCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListClientIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
