<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateModelivraisonTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateModelivraisonLabel_id}" for="id" />
                    <h:inputText id="id" value="#{modelivraisonController.selected.id}" title="#{bundle.CreateModelivraisonTitle_id}" required="false" requiredMessage="#{bundle.CreateModelivraisonRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateModelivraisonLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{modelivraisonController.selected.suppressionLogique}" title="#{bundle.CreateModelivraisonTitle_suppressionLogique}" />
                    <h:outputLabel value="#{bundle.CreateModelivraisonLabel_type}" for="type" />
                    <h:inputText id="type" value="#{modelivraisonController.selected.type}" title="#{bundle.CreateModelivraisonTitle_type}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{modelivraisonController.create}" value="#{bundle.CreateModelivraisonSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{modelivraisonController.prepareList}" value="#{bundle.CreateModelivraisonShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateModelivraisonIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
