<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListModelivraisonTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListModelivraisonEmpty}" rendered="#{modelivraisonController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{modelivraisonController.items.rowCount > 0}">
                    <h:outputText value="#{modelivraisonController.pagination.pageFirstItem + 1}..#{modelivraisonController.pagination.pageLastItem + 1}/#{modelivraisonController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{modelivraisonController.previous}" value="#{bundle.Previous} #{modelivraisonController.pagination.pageSize}" rendered="#{modelivraisonController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{modelivraisonController.next}" value="#{bundle.Next} #{modelivraisonController.pagination.pageSize}" rendered="#{modelivraisonController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{modelivraisonController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelivraisonTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelivraisonTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelivraisonTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{modelivraisonController.prepareView}" value="#{bundle.ListModelivraisonViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{modelivraisonController.prepareEdit}" value="#{bundle.ListModelivraisonEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{modelivraisonController.destroy}" value="#{bundle.ListModelivraisonDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{modelivraisonController.prepareCreate}" value="#{bundle.ListModelivraisonCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListModelivraisonIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
