<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewModelivraisonTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewModelivraisonLabel_id}"/>
                    <h:outputText value="#{modelivraisonController.selected.id}" title="#{bundle.ViewModelivraisonTitle_id}"/>
                    <h:outputText value="#{bundle.ViewModelivraisonLabel_suppressionLogique}"/>
                    <h:outputText value="#{modelivraisonController.selected.suppressionLogique}" title="#{bundle.ViewModelivraisonTitle_suppressionLogique}"/>
                    <h:outputText value="#{bundle.ViewModelivraisonLabel_type}"/>
                    <h:outputText value="#{modelivraisonController.selected.type}" title="#{bundle.ViewModelivraisonTitle_type}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{modelivraisonController.destroyAndView}" value="#{bundle.ViewModelivraisonDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewModelivraisonEditLink}"/>
                <br />
                <h:commandLink action="#{modelivraisonController.prepareCreate}" value="#{bundle.ViewModelivraisonCreateLink}" />
                <br />
                <h:commandLink action="#{modelivraisonController.prepareList}" value="#{bundle.ViewModelivraisonShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewModelivraisonIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
