<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEvenementTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEvenementLabel_id}" for="id" />
                    <h:inputText id="id" value="#{evenementController.selected.id}" title="#{bundle.CreateEvenementTitle_id}" required="false" requiredMessage="#{bundle.CreateEvenementRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateEvenementLabel_description}" for="description" />
                    <h:inputText id="description" value="#{evenementController.selected.description}" title="#{bundle.CreateEvenementTitle_description}" />
                    <h:outputLabel value="#{bundle.CreateEvenementLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{evenementController.selected.suppressionLogique}" title="#{bundle.CreateEvenementTitle_suppressionLogique}" />
                    <h:outputLabel value="#{bundle.CreateEvenementLabel_titre}" for="titre" />
                    <h:inputText id="titre" value="#{evenementController.selected.titre}" title="#{bundle.CreateEvenementTitle_titre}" />
                    <h:outputLabel value="#{bundle.CreateEvenementLabel_urlAffiche}" for="urlAffiche" />
                    <h:inputText id="urlAffiche" value="#{evenementController.selected.urlAffiche}" title="#{bundle.CreateEvenementTitle_urlAffiche}" />
                    <h:outputLabel value="#{bundle.CreateEvenementLabel_tvaId}" for="tvaId" />
                    <h:selectOneMenu id="tvaId" value="#{evenementController.selected.tvaId}" title="#{bundle.CreateEvenementTitle_tvaId}" >
                        <f:selectItems value="#{tvaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateEvenementLabel_themeId}" for="themeId" />
                    <h:selectOneMenu id="themeId" value="#{evenementController.selected.themeId}" title="#{bundle.CreateEvenementTitle_themeId}" >
                        <f:selectItems value="#{themeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateEvenementLabel_genreId}" for="genreId" />
                    <h:selectOneMenu id="genreId" value="#{evenementController.selected.genreId}" title="#{bundle.CreateEvenementTitle_genreId}" >
                        <f:selectItems value="#{genreController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{evenementController.create}" value="#{bundle.CreateEvenementSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{evenementController.prepareList}" value="#{bundle.CreateEvenementShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateEvenementIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
