<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEvenementTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEvenementLabel_id}" for="id" />
                    <h:inputText id="id" value="#{evenementController.selected.id}" title="#{bundle.EditEvenementTitle_id}" required="true" requiredMessage="#{bundle.EditEvenementRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditEvenementLabel_description}" for="description" />
                    <h:inputText id="description" value="#{evenementController.selected.description}" title="#{bundle.EditEvenementTitle_description}" />
                    <h:outputLabel value="#{bundle.EditEvenementLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{evenementController.selected.suppressionLogique}" title="#{bundle.EditEvenementTitle_suppressionLogique}" />
                    <h:outputLabel value="#{bundle.EditEvenementLabel_titre}" for="titre" />
                    <h:inputText id="titre" value="#{evenementController.selected.titre}" title="#{bundle.EditEvenementTitle_titre}" />
                    <h:outputLabel value="#{bundle.EditEvenementLabel_urlAffiche}" for="urlAffiche" />
                    <h:inputText id="urlAffiche" value="#{evenementController.selected.urlAffiche}" title="#{bundle.EditEvenementTitle_urlAffiche}" />
                    <h:outputLabel value="#{bundle.EditEvenementLabel_tvaId}" for="tvaId" />
                    <h:selectOneMenu id="tvaId" value="#{evenementController.selected.tvaId}" title="#{bundle.EditEvenementTitle_tvaId}" >
                        <f:selectItems value="#{tvaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditEvenementLabel_themeId}" for="themeId" />
                    <h:selectOneMenu id="themeId" value="#{evenementController.selected.themeId}" title="#{bundle.EditEvenementTitle_themeId}" >
                        <f:selectItems value="#{themeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditEvenementLabel_genreId}" for="genreId" />
                    <h:selectOneMenu id="genreId" value="#{evenementController.selected.genreId}" title="#{bundle.EditEvenementTitle_genreId}" >
                        <f:selectItems value="#{genreController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{evenementController.update}" value="#{bundle.EditEvenementSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEvenementViewLink}"/>
                <br />
                <h:commandLink action="#{evenementController.prepareList}" value="#{bundle.EditEvenementShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEvenementIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
