<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEvenementTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEvenementEmpty}" rendered="#{evenementController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{evenementController.items.rowCount > 0}">
                    <h:outputText value="#{evenementController.pagination.pageFirstItem + 1}..#{evenementController.pagination.pageLastItem + 1}/#{evenementController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{evenementController.previous}" value="#{bundle.Previous} #{evenementController.pagination.pageSize}" rendered="#{evenementController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{evenementController.next}" value="#{bundle.Next} #{evenementController.pagination.pageSize}" rendered="#{evenementController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{evenementController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenementTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenementTitle_description}"/>
                            </f:facet>
                            <h:outputText value="#{item.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenementTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenementTitle_titre}"/>
                            </f:facet>
                            <h:outputText value="#{item.titre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenementTitle_urlAffiche}"/>
                            </f:facet>
                            <h:outputText value="#{item.urlAffiche}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenementTitle_tvaId}"/>
                            </f:facet>
                            <h:outputText value="#{item.tvaId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenementTitle_themeId}"/>
                            </f:facet>
                            <h:outputText value="#{item.themeId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenementTitle_genreId}"/>
                            </f:facet>
                            <h:outputText value="#{item.genreId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{evenementController.prepareView}" value="#{bundle.ListEvenementViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{evenementController.prepareEdit}" value="#{bundle.ListEvenementEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{evenementController.destroy}" value="#{bundle.ListEvenementDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{evenementController.prepareCreate}" value="#{bundle.ListEvenementCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEvenementIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
