<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEvenementTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEvenementLabel_id}"/>
                    <h:outputText value="#{evenementController.selected.id}" title="#{bundle.ViewEvenementTitle_id}"/>
                    <h:outputText value="#{bundle.ViewEvenementLabel_description}"/>
                    <h:outputText value="#{evenementController.selected.description}" title="#{bundle.ViewEvenementTitle_description}"/>
                    <h:outputText value="#{bundle.ViewEvenementLabel_suppressionLogique}"/>
                    <h:outputText value="#{evenementController.selected.suppressionLogique}" title="#{bundle.ViewEvenementTitle_suppressionLogique}"/>
                    <h:outputText value="#{bundle.ViewEvenementLabel_titre}"/>
                    <h:outputText value="#{evenementController.selected.titre}" title="#{bundle.ViewEvenementTitle_titre}"/>
                    <h:outputText value="#{bundle.ViewEvenementLabel_urlAffiche}"/>
                    <h:outputText value="#{evenementController.selected.urlAffiche}" title="#{bundle.ViewEvenementTitle_urlAffiche}"/>
                    <h:outputText value="#{bundle.ViewEvenementLabel_tvaId}"/>
                    <h:outputText value="#{evenementController.selected.tvaId}" title="#{bundle.ViewEvenementTitle_tvaId}"/>
                    <h:outputText value="#{bundle.ViewEvenementLabel_themeId}"/>
                    <h:outputText value="#{evenementController.selected.themeId}" title="#{bundle.ViewEvenementTitle_themeId}"/>
                    <h:outputText value="#{bundle.ViewEvenementLabel_genreId}"/>
                    <h:outputText value="#{evenementController.selected.genreId}" title="#{bundle.ViewEvenementTitle_genreId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{evenementController.destroyAndView}" value="#{bundle.ViewEvenementDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEvenementEditLink}"/>
                <br />
                <h:commandLink action="#{evenementController.prepareCreate}" value="#{bundle.ViewEvenementCreateLink}" />
                <br />
                <h:commandLink action="#{evenementController.prepareList}" value="#{bundle.ViewEvenementShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEvenementIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
