<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRoleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRoleLabel_id}"/>
                    <h:outputText value="#{roleController.selected.id}" title="#{bundle.ViewRoleTitle_id}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_libelle}"/>
                    <h:outputText value="#{roleController.selected.libelle}" title="#{bundle.ViewRoleTitle_libelle}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_suppressionLogique}"/>
                    <h:outputText value="#{roleController.selected.suppressionLogique}" title="#{bundle.ViewRoleTitle_suppressionLogique}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{roleController.destroyAndView}" value="#{bundle.ViewRoleDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRoleEditLink}"/>
                <br />
                <h:commandLink action="#{roleController.prepareCreate}" value="#{bundle.ViewRoleCreateLink}" />
                <br />
                <h:commandLink action="#{roleController.prepareList}" value="#{bundle.ViewRoleShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewRoleIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
