<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListZoneTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListZoneEmpty}" rendered="#{zoneController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{zoneController.items.rowCount > 0}">
                    <h:outputText value="#{zoneController.pagination.pageFirstItem + 1}..#{zoneController.pagination.pageLastItem + 1}/#{zoneController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{zoneController.previous}" value="#{bundle.Previous} #{zoneController.pagination.pageSize}" rendered="#{zoneController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{zoneController.next}" value="#{bundle.Next} #{zoneController.pagination.pageSize}" rendered="#{zoneController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{zoneController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListZoneTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListZoneTitle_libelle}"/>
                            </f:facet>
                            <h:outputText value="#{item.libelle}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListZoneTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{zoneController.prepareView}" value="#{bundle.ListZoneViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{zoneController.prepareEdit}" value="#{bundle.ListZoneEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{zoneController.destroy}" value="#{bundle.ListZoneDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{zoneController.prepareCreate}" value="#{bundle.ListZoneCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListZoneIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
