<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewZoneTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewZoneLabel_id}"/>
                    <h:outputText value="#{zoneController.selected.id}" title="#{bundle.ViewZoneTitle_id}"/>
                    <h:outputText value="#{bundle.ViewZoneLabel_libelle}"/>
                    <h:outputText value="#{zoneController.selected.libelle}" title="#{bundle.ViewZoneTitle_libelle}"/>
                    <h:outputText value="#{bundle.ViewZoneLabel_suppressionLogique}"/>
                    <h:outputText value="#{zoneController.selected.suppressionLogique}" title="#{bundle.ViewZoneTitle_suppressionLogique}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{zoneController.destroyAndView}" value="#{bundle.ViewZoneDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewZoneEditLink}"/>
                <br />
                <h:commandLink action="#{zoneController.prepareCreate}" value="#{bundle.ViewZoneCreateLink}" />
                <br />
                <h:commandLink action="#{zoneController.prepareList}" value="#{bundle.ViewZoneShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewZoneIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
