<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAdresseTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_id}" for="id" />
                    <h:inputText id="id" value="#{adresseController.selected.id}" title="#{bundle.CreateAdresseTitle_id}" required="false" requiredMessage="#{bundle.CreateAdresseRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_codePostal}" for="codePostal" />
                    <h:inputText id="codePostal" value="#{adresseController.selected.codePostal}" title="#{bundle.CreateAdresseTitle_codePostal}" />
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_nomRue}" for="nomRue" />
                    <h:inputText id="nomRue" value="#{adresseController.selected.nomRue}" title="#{bundle.CreateAdresseTitle_nomRue}" />
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_numeroRue}" for="numeroRue" />
                    <h:inputText id="numeroRue" value="#{adresseController.selected.numeroRue}" title="#{bundle.CreateAdresseTitle_numeroRue}" />
                    <!--
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{adresseController.selected.suppressionLogique}" title="#{bundle.CreateAdresseTitle_suppressionLogique}" />
                    -->
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_typeRue}" for="typeRue" />
                    <h:inputText id="typeRue" value="#{adresseController.selected.typeRue}" title="#{bundle.CreateAdresseTitle_typeRue}" />
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_ville}" for="ville" />
                    <h:inputText id="ville" value="#{adresseController.selected.ville}" title="#{bundle.CreateAdresseTitle_ville}" />
                    <h:outputLabel value="#{bundle.CreateAdresseLabel_facturecommandeId}" for="facturecommandeId" />
                    <h:selectOneMenu id="facturecommandeId" value="#{adresseController.selected.facturecommandeId}" title="#{bundle.CreateAdresseTitle_facturecommandeId}" >
                        <f:selectItems value="#{commandeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{adresseController.create}" value="#{bundle.CreateAdresseSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{adresseController.prepareList}" value="#{bundle.CreateAdresseShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAdresseIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
