<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAdresseTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAdresseLabel_id}" for="id" />
                    <h:inputText id="id" value="#{adresseController.selected.id}" title="#{bundle.EditAdresseTitle_id}" required="true" requiredMessage="#{bundle.EditAdresseRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditAdresseLabel_codePostal}" for="codePostal" />
                    <h:inputText id="codePostal" value="#{adresseController.selected.codePostal}" title="#{bundle.EditAdresseTitle_codePostal}" />
                    <h:outputLabel value="#{bundle.EditAdresseLabel_nomRue}" for="nomRue" />
                    <h:inputText id="nomRue" value="#{adresseController.selected.nomRue}" title="#{bundle.EditAdresseTitle_nomRue}" />
                    <h:outputLabel value="#{bundle.EditAdresseLabel_numeroRue}" for="numeroRue" />
                    <h:inputText id="numeroRue" value="#{adresseController.selected.numeroRue}" title="#{bundle.EditAdresseTitle_numeroRue}" />
                    <h:outputLabel value="#{bundle.EditAdresseLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{adresseController.selected.suppressionLogique}" title="#{bundle.EditAdresseTitle_suppressionLogique}" />
                    <h:outputLabel value="#{bundle.EditAdresseLabel_typeRue}" for="typeRue" />
                    <h:inputText id="typeRue" value="#{adresseController.selected.typeRue}" title="#{bundle.EditAdresseTitle_typeRue}" />
                    <h:outputLabel value="#{bundle.EditAdresseLabel_ville}" for="ville" />
                    <h:inputText id="ville" value="#{adresseController.selected.ville}" title="#{bundle.EditAdresseTitle_ville}" />
                    <h:outputLabel value="#{bundle.EditAdresseLabel_facturecommandeId}" for="facturecommandeId" />
                    <h:selectOneMenu id="facturecommandeId" value="#{adresseController.selected.facturecommandeId}" title="#{bundle.EditAdresseTitle_facturecommandeId}" >
                        <f:selectItems value="#{commandeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{adresseController.update}" value="#{bundle.EditAdresseSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAdresseViewLink}"/>
                <br />
                <h:commandLink action="#{adresseController.prepareList}" value="#{bundle.EditAdresseShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAdresseIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
