<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAdresseTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAdresseLabel_id}"/>
                    <h:outputText value="#{adresseController.selected.id}" title="#{bundle.ViewAdresseTitle_id}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_codePostal}"/>
                    <h:outputText value="#{adresseController.selected.codePostal}" title="#{bundle.ViewAdresseTitle_codePostal}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_nomRue}"/>
                    <h:outputText value="#{adresseController.selected.nomRue}" title="#{bundle.ViewAdresseTitle_nomRue}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_numeroRue}"/>
                    <h:outputText value="#{adresseController.selected.numeroRue}" title="#{bundle.ViewAdresseTitle_numeroRue}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_suppressionLogique}"/>
                    <h:outputText value="#{adresseController.selected.suppressionLogique}" title="#{bundle.ViewAdresseTitle_suppressionLogique}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_typeRue}"/>
                    <h:outputText value="#{adresseController.selected.typeRue}" title="#{bundle.ViewAdresseTitle_typeRue}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_ville}"/>
                    <h:outputText value="#{adresseController.selected.ville}" title="#{bundle.ViewAdresseTitle_ville}"/>
                    <h:outputText value="#{bundle.ViewAdresseLabel_facturecommandeId}"/>
                    <h:outputText value="#{adresseController.selected.facturecommandeId}" title="#{bundle.ViewAdresseTitle_facturecommandeId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{adresseController.destroyAndView}" value="#{bundle.ViewAdresseDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAdresseEditLink}"/>
                <br />
                <h:commandLink action="#{adresseController.prepareCreate}" value="#{bundle.ViewAdresseCreateLink}" />
                <br />
                <h:commandLink action="#{adresseController.prepareList}" value="#{bundle.ViewAdresseShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAdresseIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
