<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateGenreTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateGenreLabel_id}" for="id" />
                    <h:inputText id="id" value="#{genreController.selected.id}" title="#{bundle.CreateGenreTitle_id}" required="false" requiredMessage="#{bundle.CreateGenreRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateGenreLabel_libelle}" for="libelle" />
                    <h:inputText id="libelle" value="#{genreController.selected.libelle}" title="#{bundle.CreateGenreTitle_libelle}" />
                    <!--
                    <h:outputLabel value="#{bundle.CreateGenreLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{genreController.selected.suppressionLogique}" title="#{bundle.CreateGenreTitle_suppressionLogique}" />
                    -->
                    </h:panelGrid>
                <br />
                <h:commandLink action="#{genreController.create}" value="#{bundle.CreateGenreSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{genreController.prepareList}" value="#{bundle.CreateGenreShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateGenreIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
