<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditGenreTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditGenreLabel_id}" for="id" />
                    <h:inputText id="id" value="#{genreController.selected.id}" title="#{bundle.EditGenreTitle_id}" required="true" requiredMessage="#{bundle.EditGenreRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditGenreLabel_libelle}" for="libelle" />
                    <h:inputText id="libelle" value="#{genreController.selected.libelle}" title="#{bundle.EditGenreTitle_libelle}" />
                    <h:outputLabel value="#{bundle.EditGenreLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{genreController.selected.suppressionLogique}" title="#{bundle.EditGenreTitle_suppressionLogique}" />
                </h:panelGrid>
                <h:commandLink action="#{genreController.update}" value="#{bundle.EditGenreSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditGenreViewLink}"/>
                <br />
                <h:commandLink action="#{genreController.prepareList}" value="#{bundle.EditGenreShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditGenreIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
