<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewGenreTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewGenreLabel_id}"/>
                    <h:outputText value="#{genreController.selected.id}" title="#{bundle.ViewGenreTitle_id}"/>
                    <h:outputText value="#{bundle.ViewGenreLabel_libelle}"/>
                    <h:outputText value="#{genreController.selected.libelle}" title="#{bundle.ViewGenreTitle_libelle}"/>
                    <h:outputText value="#{bundle.ViewGenreLabel_suppressionLogique}"/>
                    <h:outputText value="#{genreController.selected.suppressionLogique}" title="#{bundle.ViewGenreTitle_suppressionLogique}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{genreController.destroyAndView}" value="#{bundle.ViewGenreDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewGenreEditLink}"/>
                <br />
                <h:commandLink action="#{genreController.prepareCreate}" value="#{bundle.ViewGenreCreateLink}" />
                <br />
                <h:commandLink action="#{genreController.prepareList}" value="#{bundle.ViewGenreShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewGenreIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
