<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditTvaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditTvaLabel_id}" for="id" />
                    <h:inputText id="id" value="#{tvaController.selected.id}" title="#{bundle.EditTvaTitle_id}" required="true" requiredMessage="#{bundle.EditTvaRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditTvaLabel_date}" for="date" />
                    <h:inputText id="date" value="#{tvaController.selected.date}" title="#{bundle.EditTvaTitle_date}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditTvaLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{tvaController.selected.suppressionLogique}" title="#{bundle.EditTvaTitle_suppressionLogique}" />
                    <h:outputLabel value="#{bundle.EditTvaLabel_taux}" for="taux" />
                    <h:inputText id="taux" value="#{tvaController.selected.taux}" title="#{bundle.EditTvaTitle_taux}" />
                    <h:outputLabel value="#{bundle.EditTvaLabel_type}" for="type" />
                    <h:inputText id="type" value="#{tvaController.selected.type}" title="#{bundle.EditTvaTitle_type}" />
                </h:panelGrid>
                <h:commandLink action="#{tvaController.update}" value="#{bundle.EditTvaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditTvaViewLink}"/>
                <br />
                <h:commandLink action="#{tvaController.prepareList}" value="#{bundle.EditTvaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditTvaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
