<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTvaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTvaEmpty}" rendered="#{tvaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{tvaController.items.rowCount > 0}">
                    <h:outputText value="#{tvaController.pagination.pageFirstItem + 1}..#{tvaController.pagination.pageLastItem + 1}/#{tvaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{tvaController.previous}" value="#{bundle.Previous} #{tvaController.pagination.pageSize}" rendered="#{tvaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{tvaController.next}" value="#{bundle.Next} #{tvaController.pagination.pageSize}" rendered="#{tvaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{tvaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTvaTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTvaTitle_date}"/>
                            </f:facet>
                            <h:outputText value="#{item.date}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTvaTitle_suppressionLogique}"/>
                            </f:facet>
                            <h:outputText value="#{item.suppressionLogique}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTvaTitle_taux}"/>
                            </f:facet>
                            <h:outputText value="#{item.taux}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTvaTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{tvaController.prepareView}" value="#{bundle.ListTvaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tvaController.prepareEdit}" value="#{bundle.ListTvaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tvaController.destroy}" value="#{bundle.ListTvaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{tvaController.prepareCreate}" value="#{bundle.ListTvaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTvaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
