<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTvaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTvaLabel_id}"/>
                    <h:outputText value="#{tvaController.selected.id}" title="#{bundle.ViewTvaTitle_id}"/>
                    <h:outputText value="#{bundle.ViewTvaLabel_date}"/>
                    <h:outputText value="#{tvaController.selected.date}" title="#{bundle.ViewTvaTitle_date}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTvaLabel_suppressionLogique}"/>
                    <h:outputText value="#{tvaController.selected.suppressionLogique}" title="#{bundle.ViewTvaTitle_suppressionLogique}"/>
                    <h:outputText value="#{bundle.ViewTvaLabel_taux}"/>
                    <h:outputText value="#{tvaController.selected.taux}" title="#{bundle.ViewTvaTitle_taux}"/>
                    <h:outputText value="#{bundle.ViewTvaLabel_type}"/>
                    <h:outputText value="#{tvaController.selected.type}" title="#{bundle.ViewTvaTitle_type}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tvaController.destroyAndView}" value="#{bundle.ViewTvaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTvaEditLink}"/>
                <br />
                <h:commandLink action="#{tvaController.prepareCreate}" value="#{bundle.ViewTvaCreateLink}" />
                <br />
                <h:commandLink action="#{tvaController.prepareList}" value="#{bundle.ViewTvaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTvaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
