<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePlaceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePlaceLabel_id}" for="id" />
                    <h:inputText id="id" value="#{placeController.selected.id}" title="#{bundle.CreatePlaceTitle_id}" required="false" requiredMessage="#{bundle.CreatePlaceRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreatePlaceLabel_disponible}" for="disponible" />
                    <h:inputText id="disponible" value="#{placeController.selected.disponible}" title="#{bundle.CreatePlaceTitle_disponible}" required="true" requiredMessage="#{bundle.CreatePlaceRequiredMessage_disponible}"/>
                    <h:outputLabel value="#{bundle.CreatePlaceLabel_numero}" for="numero" />
                    <h:inputText id="numero" value="#{placeController.selected.numero}" title="#{bundle.CreatePlaceTitle_numero}" />
                    <h:outputLabel value="#{bundle.CreatePlaceLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{placeController.selected.suppressionLogique}" title="#{bundle.CreatePlaceTitle_suppressionLogique}" />
                    <h:outputLabel value="#{bundle.CreatePlaceLabel_zoneId}" for="zoneId" />
                    <h:selectOneMenu id="zoneId" value="#{placeController.selected.zoneId}" title="#{bundle.CreatePlaceTitle_zoneId}" >
                        <f:selectItems value="#{zoneController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePlaceLabel_placeprecedeId}" for="placeprecedeId" />
                    <h:selectOneMenu id="placeprecedeId" value="#{placeController.selected.placeprecedeId}" title="#{bundle.CreatePlaceTitle_placeprecedeId}" >
                        <f:selectItems value="#{placeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePlaceLabel_placesuiviId}" for="placesuiviId" />
                    <h:selectOneMenu id="placesuiviId" value="#{placeController.selected.placesuiviId}" title="#{bundle.CreatePlaceTitle_placesuiviId}" >
                        <f:selectItems value="#{placeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePlaceLabel_lieuId}" for="lieuId" />
                    <h:selectOneMenu id="lieuId" value="#{placeController.selected.lieuId}" title="#{bundle.CreatePlaceTitle_lieuId}" >
                        <f:selectItems value="#{lieuController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePlaceLabel_categorieId}" for="categorieId" />
                    <h:selectOneMenu id="categorieId" value="#{placeController.selected.categorieId}" title="#{bundle.CreatePlaceTitle_categorieId}" >
                        <f:selectItems value="#{categorieController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{placeController.create}" value="#{bundle.CreatePlaceSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{placeController.prepareList}" value="#{bundle.CreatePlaceShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreatePlaceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
