<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPlaceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPlaceLabel_id}"/>
                    <h:outputText value="#{placeController.selected.id}" title="#{bundle.ViewPlaceTitle_id}"/>
                    <h:outputText value="#{bundle.ViewPlaceLabel_disponible}"/>
                    <h:outputText value="#{placeController.selected.disponible}" title="#{bundle.ViewPlaceTitle_disponible}"/>
                    <h:outputText value="#{bundle.ViewPlaceLabel_numero}"/>
                    <h:outputText value="#{placeController.selected.numero}" title="#{bundle.ViewPlaceTitle_numero}"/>
                    <h:outputText value="#{bundle.ViewPlaceLabel_suppressionLogique}"/>
                    <h:outputText value="#{placeController.selected.suppressionLogique}" title="#{bundle.ViewPlaceTitle_suppressionLogique}"/>
                    <h:outputText value="#{bundle.ViewPlaceLabel_zoneId}"/>
                    <h:outputText value="#{placeController.selected.zoneId}" title="#{bundle.ViewPlaceTitle_zoneId}"/>
                    <h:outputText value="#{bundle.ViewPlaceLabel_placeprecedeId}"/>
                    <h:outputText value="#{placeController.selected.placeprecedeId}" title="#{bundle.ViewPlaceTitle_placeprecedeId}"/>
                    <h:outputText value="#{bundle.ViewPlaceLabel_placesuiviId}"/>
                    <h:outputText value="#{placeController.selected.placesuiviId}" title="#{bundle.ViewPlaceTitle_placesuiviId}"/>
                    <h:outputText value="#{bundle.ViewPlaceLabel_lieuId}"/>
                    <h:outputText value="#{placeController.selected.lieuId}" title="#{bundle.ViewPlaceTitle_lieuId}"/>
                    <h:outputText value="#{bundle.ViewPlaceLabel_categorieId}"/>
                    <h:outputText value="#{placeController.selected.categorieId}" title="#{bundle.ViewPlaceTitle_categorieId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{placeController.destroyAndView}" value="#{bundle.ViewPlaceDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPlaceEditLink}"/>
                <br />
                <h:commandLink action="#{placeController.prepareCreate}" value="#{bundle.ViewPlaceCreateLink}" />
                <br />
                <h:commandLink action="#{placeController.prepareList}" value="#{bundle.ViewPlaceShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPlaceIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
