<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="/pageJSF/adresse/List" value="Show All Adresse Items"/>
        <br />
        <h:link outcome="/pageJSF/categorie/List" value="Show All Categorie Items"/>
        <br />
        <h:link outcome="/pageJSF/client/List" value="Show All Client Items"/>
        <br />
        <h:link outcome="/pageJSF/commande/List" value="Show All Commande Items"/>
        <br />
        <h:link outcome="/pageJSF/evenement/List" value="Show All Evenement Items"/>
        <br />
        <h:link outcome="/pageJSF/genre/List" value="Show All Genre Items"/>
        <br />
        <h:link outcome="/pageJSF/lieu/List" value="Show All Lieu Items"/>
        <br />
        <h:link outcome="/pageJSF/modelivraison/List" value="Show All Modelivraison Items"/>
        <br />
        <h:link outcome="/pageJSF/modepaiment/List" value="Show All Modepaiment Items"/>
        <br />
        <h:link outcome="/pageJSF/participant/List" value="Show All Participant Items"/>
        <br />
        <h:link outcome="/pageJSF/place/List" value="Show All Place Items"/>
        <br />
        <h:link outcome="/pageJSF/reduction/List" value="Show All Reduction Items"/>
        <br />
        <h:link outcome="/pageJSF/role/List" value="Show All Role Items"/>
        <br />
        <h:link outcome="/pageJSF/seance/List" value="Show All Seance Items"/>
        <br />
        <h:link outcome="/pageJSF/theme/List" value="Show All Theme Items"/>
        <br />
        <h:link outcome="/pageJSF/ticket/List" value="Show All Ticket Items"/>
        <br />
        <h:link outcome="/pageJSF/tva/List" value="Show All Tva Items"/>
        <br />
        <h:link outcome="/pageJSF/zone/List" value="Show All Zone Items"/>
    </h:body>


















</html>

