<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTicketTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTicketLabel_id}" for="id" />
                    <h:inputText id="id" value="#{ticketController.selected.id}" title="#{bundle.CreateTicketTitle_id}" required="false" requiredMessage="#{bundle.CreateTicketRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateTicketLabel_ETicket}" for="ETicket" />
                    <h:inputText id="ETicket" value="#{ticketController.selected.ETicket}" title="#{bundle.CreateTicketTitle_ETicket}" />
                    <h:outputLabel value="#{bundle.CreateTicketLabel_numero}" for="numero" />
                    <h:inputText id="numero" value="#{ticketController.selected.numero}" title="#{bundle.CreateTicketTitle_numero}" />
                    <h:outputLabel value="#{bundle.CreateTicketLabel_suppressionLogique}" for="suppressionLogique" />
                    <h:inputText id="suppressionLogique" value="#{ticketController.selected.suppressionLogique}" title="#{bundle.CreateTicketTitle_suppressionLogique}" />
                    <h:outputLabel value="#{bundle.CreateTicketLabel_seanceId}" for="seanceId" />
                    <h:selectOneMenu id="seanceId" value="#{ticketController.selected.seanceId}" title="#{bundle.CreateTicketTitle_seanceId}" >
                        <f:selectItems value="#{seanceController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateTicketLabel_placeId}" for="placeId" />
                    <h:selectOneMenu id="placeId" value="#{ticketController.selected.placeId}" title="#{bundle.CreateTicketTitle_placeId}" >
                        <f:selectItems value="#{placeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateTicketLabel_commandeId}" for="commandeId" />
                    <h:selectOneMenu id="commandeId" value="#{ticketController.selected.commandeId}" title="#{bundle.CreateTicketTitle_commandeId}" >
                        <f:selectItems value="#{commandeController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ticketController.create}" value="#{bundle.CreateTicketSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{ticketController.prepareList}" value="#{bundle.CreateTicketShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTicketIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
