<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTicketTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTicketLabel_id}"/>
                    <h:outputText value="#{ticketController.selected.id}" title="#{bundle.ViewTicketTitle_id}"/>
                    <h:outputText value="#{bundle.ViewTicketLabel_ETicket}"/>
                    <h:outputText value="#{ticketController.selected.ETicket}" title="#{bundle.ViewTicketTitle_ETicket}"/>
                    <h:outputText value="#{bundle.ViewTicketLabel_numero}"/>
                    <h:outputText value="#{ticketController.selected.numero}" title="#{bundle.ViewTicketTitle_numero}"/>
                    <h:outputText value="#{bundle.ViewTicketLabel_suppressionLogique}"/>
                    <h:outputText value="#{ticketController.selected.suppressionLogique}" title="#{bundle.ViewTicketTitle_suppressionLogique}"/>
                    <h:outputText value="#{bundle.ViewTicketLabel_seanceId}"/>
                    <h:outputText value="#{ticketController.selected.seanceId}" title="#{bundle.ViewTicketTitle_seanceId}"/>
                    <h:outputText value="#{bundle.ViewTicketLabel_placeId}"/>
                    <h:outputText value="#{ticketController.selected.placeId}" title="#{bundle.ViewTicketTitle_placeId}"/>
                    <h:outputText value="#{bundle.ViewTicketLabel_commandeId}"/>
                    <h:outputText value="#{ticketController.selected.commandeId}" title="#{bundle.ViewTicketTitle_commandeId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ticketController.destroyAndView}" value="#{bundle.ViewTicketDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTicketEditLink}"/>
                <br />
                <h:commandLink action="#{ticketController.prepareCreate}" value="#{bundle.ViewTicketCreateLink}" />
                <br />
                <h:commandLink action="#{ticketController.prepareList}" value="#{bundle.ViewTicketShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTicketIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
